@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|K2D');

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
  }
  .d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
  }